<!DOCTYPE html>
<html>
  <head>
    <title>New Zealand Landscape, Nature and Wildlife | Kelly Munro Photography</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans&family=Yellowtail&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header-container">
      <header>
        <div class="site-title">
          <h1>Kelly Munro Photography</h1>
          <h2>New Zealand Landscape, Nature and Wildlife</h2>
        </div>

        <nav>
          <ul class="navbar">
            <li><%= link_to "Portfolio", portfolio_index_path, class: "#{'selected' if controller.controller_name == 'categories'}" %></li>
            <li><%= link_to "About", about_path, class: "#{'selected' if controller.controller_name == 'pages' && controller.action_name == 'about'}" %></li>
            <li><%= link_to "Contact", contact_path, class: "#{'selected' if controller.controller_name == 'pages' && controller.action_name == 'contact'}" %></li>
          </ul>
        </nav>
      </header>
    </div>

    <%= yield %>

    <footer>
      <p>Copyright &copy; 2022 <a href="mailto:info@kellymunro.com">Kelly Munro</a>. Images displayed on this site may not be used without written permission.</p>
    </footer>
  </body>
</html>
