<!DOCTYPE html>
<html>
  <head>
    <title>New Zealand Nature and Wildlife | Kelly Munro Photography</title>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="site-title">
        <h1>Kelly Munro Photography</h1>
        <h2>New Zealand Nature and Wildlife</h2>
      </div>

      <nav>
        <ul class="navbar">
          <li><%= link_to "Portfolio", portfolio_index_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>Copyright &copy; 2019 <a href="mailto:info@kellymunro.com">Kelly Munro</a>. Images displayed on this site may not be used without written permission.</p>
    </footer>
  </body>
</html>
